body {
  font-family: "Montserrat", sans-serif;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 1.5rem;
}
.nav-link {
  font-size: 1.2rem;
}
.navbar {
  padding-bottom: 4.5rem;
}
#title {
  background-color: #ff4c68;
}
.title-container {
  padding: 3% 10%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
  padding: 5%;
  padding-left: 2.5%;
}
.btn {
  padding: 1.5% 3%;
  margin: 3%;
}
.fab {
  margin-right: 0.5rem;
}
.phone-img {
  width: 60%;
  transform: rotate(10deg);
}
#features {
  text-align: center;
  padding: 10%;
}
.feature-col {
  padding: 4% 5%;
}
.feature-icons {
  color: #ef8172;
  padding-bottom: 1.5rem;
}
.feature-icons:hover {
  color: #ff4c68;
}
.feature-header {
  font-weight: bold;
  font-size: 1.5rem;
}
.feature-desc {
  color: #8f8f8f;
}
#testimonials {
  padding: 2%;
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
.testimonial-items {
  padding: 8%;
}
.testimonial-text {
  font-weight: bold;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  padding: 2%;
}
#press {
  background-color: #ef8172;
  padding: 0 5% 5%;
  text-align: center;
}
.press-logo {
  width: 15%;
  margin: 0 2rem;
}
